.my-table{
    max-width: 80rem;
    margin: 10rem auto;
    padding: 10px;
    border: 5px solid $navbar;
    border-radius: 20px;
    h1{
      text-align: center;
    }
    &-item{
      margin-top: 1rem;
      p{
        font-size: 1.6rem;
      }
    }
}